@font-face {
    font-family: 'Anton-Regular'; /* Specify the desired font family name */
    src: url('../public/assets/fonts/Anton-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins-Regular'; /* Specify the desired font family name */
    src: url('../public/assets/fonts/Poppins-Regular.ttf') format('truetype'),
}

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,500;1,500&display=swap');


body {
    background-color: #eceef0 !important; /* Replace with your desired background color */
    color: #333;
    font-family: 'Anton-Regular', Arial, sans-serif;
}

.container-border {
    margin: 0px 20px !important; /* Add margin to both left and right sides */
}

body, h1, h2, p {
    font-family: "Instrument Sans", sans-serif;
    color:#246499;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.3s ease-in-out;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Style headings and paragraph text */
h2 {
    color: #246499;
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    color: #246499;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.4em;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#blue-ar-l-rn-none {
    padding: 10px 20px;
    font-size: 1.4em !important;
    font-weight: bold;
    background: #246499;
    background: linear-gradient(0deg, #496785, #246499 100%);
    font-family: "Instrument Sans", sans-serif;
    color: #eceef0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#blue-ar-l-rn-none:hover {
    background: transparent;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #246499;
    color: #246499;
    box-shadow: none;
}

.button2 {
    padding: 10px 20px;
    font-size: 0.9rem !important;
    background: transparent;
    border: 2px solid #eceef0;
    font-family: "Instrument Sans", sans-serif;
    color: #eceef0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button2:hover {
    border: 2px solid #eceef0;
    background-color: #eceef069;
    color: #eceef0;
    box-shadow: none;
}

button {
    padding: 10px 20px;
    font-size: 0.9rem !important;
    background: #246499;
    background: linear-gradient(0deg, #496785, #246499 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: transparent;
    border: 2px solid #246499;
    box-shadow: none;
}

button:hover:before {
   height: 100%;
 }
 button:hover:after {
   width: 100%;
 }

button:hover{
    color: #246499;
 }

#confirmation {
    margin-top: 20px;
}

#qrCode {
    max-width: 100%;
}

#paymentInfo {
    font-style: italic;
    margin-top: 20px;
}

.eng-logo {
    width: 150px;
    height: 150;
}

.bg-nav-stuff {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Adjust the margin between menu items as needed */
}

.navbar-nav .nav-link {
    color: #eceef0; /* Change the text color to your desired color */
}

.navbar-nav .nav-link:hover {
    color: #eceef0; /* Change the text color on hover to your desired color */
    text-decoration: underline;
}

/* Style the navbar toggler icon */
.navbar-toggler-icon {
    padding: 5px;
}

/* Style for the container of the images */
.image-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows images to wrap onto a new line on smaller screens */
}

/* Style for the individual images */
.image-container img {
    width: auto;
    height: 60px; /* Automatically adjust the height to maintain aspect ratio */
    margin: 10px; /* Adjust the margin between images as needed */
}


/* Media query for larger screens */
@media (min-width: 768px) {
    .image-container {
        justify-content: space-around; /* Space out the images horizontally */
    }
}