/* IMAGE FOR CAILLOU  ---------------------------------------- */

.category-card-caillou {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/caillou-bg_780x439.jpg?alt=media&token=8e350eb5-4360-474f-9e1b-8d459fd17cbe&_gl=1*1i8y2lp*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODE5ODcxMS4xMS4xLjE2OTgyMDQxMjcuNDguMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-caillou::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-caillou:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-caillou {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-caillou {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-caillou {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-caillou:hover {
    background-color: #0056b3;
}

/* IMAGE FOR FRIENDS ---------------------------------------- */

.category-card-friends {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/friends-bg_780x439.jpg?alt=media&token=cd0456f5-1a11-4d6e-863a-41d3c14be2fa&_gl=1*cco4l8*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODE5ODcxMS4xMS4xLjE2OTgyMDQyNTYuMjQuMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-card-friends::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-friends:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-friends {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-friends {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-friends {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-friends:hover {
    background-color: #0056b3;
}


/* IMAGE FOR HOW I MET YOUR MOTHER  ---------------------------------------- */

.category-card-himym {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/How-I-Met-Your-Mother-bg_780x439.jpg?alt=media&token=bfc805fd-a680-45c0-bac9-3b9e034fa220&_gl=1*19f9p9j*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODE5ODcxMS4xMS4xLjE2OTgyMDQzMjMuNTAuMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-card-himym::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-himym:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-himym {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-himym {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-himym {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-himym:hover {
    background-color: #0056b3;
}

/* IMAGE FOR VOCAB & MEMO  ---------------------------------------- */

.category-card-vocab-memo2 {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/vocab-category1.jpg?alt=media&token=2668a846-94e3-41f4-af0a-63aa2c04c4c8&_gl=1*1m3o1ld*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODMzMDI0OS4xMy4xLjE2OTgzMzgxNjAuMzIuMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-vocab-memo2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-vocab-memo2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.category-card-vocab-memo {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/cartoons-bg_780x439.jpg?alt=media&token=b1899bd7-d293-422f-9ef6-1a4c28007217&_gl=1*19sct7c*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODE5ODcxMS4xMS4xLjE2OTgyMDQ0NzcuNDkuMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-vocab-memo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-vocab-memo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-vocab-memo {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-vocab-memo {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-vocab-memo {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-vocab-memo:hover {
    background-color: #0056b3;
}


/* IMAGE FOR JOBS & PROFESSIONS  ---------------------------------------- */

.category-card-jobs-vocab {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/bob-the-builder-bg_780x439.jpg?alt=media&token=221066ea-1bb5-4d5c-934b-faa7f0b8613d&_gl=1*zhpvp4*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODE5ODcxMS4xMS4xLjE2OTgyMDQ1MzcuNDkuMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-jobs-vocab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-jobs-vocab:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-jobs-vocab {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-jobs-vocab {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-jobs-vocab {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-jobs-vocab:hover {
    background-color: #0056b3;
}

/* IMAGE FOR MUSIC AND STUFF  ---------------------------------------- */

.category-card-music-pratic {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/music-section%2Fphoto-1510915361894-db8b60106cb1.avif?alt=media&token=1a056763-5721-45c5-ae3d-f343462e66d4&_gl=1*1g0gk1u*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODE5ODcxMS4xMS4xLjE2OTgyMDQ3ODEuNTIuMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-music-pratic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-music-pratic:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-music-pratic {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-music-pratic {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-music-pratic {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-music-pratic:hover {
    background-color: #0056b3;
}

/* IMAGE FOR READING STUFF  ---------------------------------------- */

.category-card-reading-section {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/reading-section%2Fbooks-bg_1_780x439.png?alt=media&token=6ba50860-d927-4475-9f47-23e8cc3ca6da&_gl=1*1wv4cve*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODE5ODcxMS4xMS4xLjE2OTgyMDQ5NzEuNDkuMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-reading-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-reading-section:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-reading-section {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-reading-section {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-reading-section {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-reading-section:hover {
    background-color: #0056b3;
}


/* IMAGE FOR GAME STUFF  ---------------------------------------- */

.category-card-game-section {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/game-section%2Fmario1_780x439.jpg?alt=media&token=600cca8b-82e0-4206-904c-abc85342f1f7&_gl=1*1t9y4qc*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODE5ODcxMS4xMS4xLjE2OTgyMDUwNzMuMTYuMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-game-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-game-section:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-game-section {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-game-section {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-game-section {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-game-section:hover {
    background-color: #0056b3;
}

/* IMAGE FOR DIALOGUE STUFF  ---------------------------------------- */

.category-card-dialogue-section {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/dialogues-section%2Fphoto-1573496546038-82f9c39f6365.avif?alt=media&token=495ec8f2-45b7-4f89-b636-b72931e290d7&_gl=1*1ba2ypl*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODE5ODcxMS4xMS4xLjE2OTgyMDM4MjQuNDQuMC4w');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-dialogue-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-dialogue-section:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-dialogue-section {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-dialogue-section {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-dialogue-section {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-dialogue-section:hover {
    background-color: #0056b3;
}