/* IMAGE FOR CAILLOU  ---------------------------------------- */

.category-card-caillou {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('../assets/images/caillou-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-caillou::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-caillou:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-caillou {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-caillou {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-caillou {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-caillou:hover {
    background-color: #0056b3;
}

/* IMAGE FOR FRIENDS ---------------------------------------- */

.category-card-friends {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('../assets/images/friends-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-card-friends::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-friends:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-friends {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-friends {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-friends {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-friends:hover {
    background-color: #0056b3;
}


/* IMAGE FOR HOW I MET YOUR MOTHER  ---------------------------------------- */

.category-card-himym {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('../assets/images/How-I-Met-Your-Mother-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-card-himym::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-himym:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-himym {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-himym {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-himym {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-himym:hover {
    background-color: #0056b3;
}

/* IMAGE FOR VOCAB & MEMO  ---------------------------------------- */

.category-card-vocab-memo {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://drive.google.com/uc?id=1cWfe1q5e8HlK04wnhpqCWjNsNPY8dQbx');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-vocab-memo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-vocab-memo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-vocab-memo {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-vocab-memo {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-vocab-memo {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-vocab-memo:hover {
    background-color: #0056b3;
}


/* IMAGE FOR JOBS & PROFESSIONS  ---------------------------------------- */

.category-card-jobs-vocab {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://drive.google.com/uc?id=1Aa0L2dWcnm73bKfZa9SowAS1_4IM0_iA');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-jobs-vocab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-jobs-vocab:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-jobs-vocab {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-jobs-vocab {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-jobs-vocab {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-jobs-vocab:hover {
    background-color: #0056b3;
}

/* IMAGE FOR MUSIC AND STUFF  ---------------------------------------- */

.category-card-music-pratic {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://drive.google.com/uc?id=1wNdcztCzM3N8yRdIp_qTyhemSIHS1iKK');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-music-pratic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-music-pratic:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-music-pratic {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-music-pratic {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-music-pratic {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-music-pratic:hover {
    background-color: #0056b3;
}

/* IMAGE FOR READING STUFF  ---------------------------------------- */

.category-card-reading-section {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://drive.google.com/uc?id=1MZctc4lt89AAJzqhescSEu6zmFJGTxu_');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-reading-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-reading-section:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-reading-section {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-reading-section {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-reading-section {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-reading-section:hover {
    background-color: #0056b3;
}


/* IMAGE FOR GAME STUFF  ---------------------------------------- */

.category-card-game-section {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://drive.google.com/uc?id=1smNvcgDisY10UlLx1oLjbSZLXZBVUzR0');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-game-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-game-section:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-game-section {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-game-section {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-game-section {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-game-section:hover {
    background-color: #0056b3;
}

/* IMAGE FOR DIALOGUE STUFF  ---------------------------------------- */

.category-card-dialogue-section {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('https://drive.google.com/uc?id=12-E7KLpxhZZ7AtusNBrNsIFhTPeBMYjT');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-dialogue-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 9, 68, 0.829); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-dialogue-section:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-dialogue-section {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #256cb9; /* Text color */
}

/* Style the category description */
.category-description-dialogue-section {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-dialogue-section {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #256cb9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-dialogue-section:hover {
    background-color: #0056b3;
}