/* IMAGE FOR CAILLOU  ---------------------------------------- */

.category-card-caillou {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('../assets/images/caillou-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-caillou::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-caillou:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-caillou {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #007bff; /* Text color */
}

/* Style the category description */
.category-description-caillou {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-caillou {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-caillou:hover {
    background-color: #0056b3;
}

/* IMAGE FOR FRIENDS ---------------------------------------- */

.category-card-friends {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('../assets/images/friends-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-card-friends::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-friends:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-friends {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #007bff; /* Text color */
}

/* Style the category description */
.category-description-friends {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-friends {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-friends:hover {
    background-color: #0056b3;
}


/* IMAGE FOR HOW I MET YOUR MOTHER  ---------------------------------------- */

.category-card-himym {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('../assets/images/How-I-Met-Your-Mother-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-card-himym::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-himym:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-himym {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #007bff; /* Text color */
}

/* Style the category description */
.category-description-himym {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-himym {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-himym:hover {
    background-color: #0056b3;
}

/* IMAGE FOR VOCAB & MEMO  ---------------------------------------- */

.category-card-vocab-memo {
    position: relative;
    border: 1px solid #ccc;
    background-image: url('../assets/images/cartoons-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category-card-vocab-memo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark black overlay with 50% opacity */
    border-radius: 10px;
}

.category-card-vocab-memo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading-vocab-memo {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: #007bff; /* Text color */
}

/* Style the category description */
.category-description-vocab-memo {
    margin-top: 10px;
    position: relative;
    z-index: 1; /* Place text above the colored background */
    color: rgb(233, 229, 229); /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

/* Style the button */
.category-button-vocab-memo {
    position: relative;
    z-index: 1; /* Place button above the colored background */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button-vocab-memo:hover {
    background-color: #0056b3;
}