@font-face {
    font-family: 'Anton-Regular'; /* Specify the desired font family name */
    src: url('../assets/fonts/Anton-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins-Regular'; /* Specify the desired font family name */
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins-Bold'; /* Specify the desired font family name */
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins-Italic'; /* Specify the desired font family name */
    src: url('../assets/fonts/Poppins-Italic.ttf') format('truetype'),
}


.gelatine:hover {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}



.shake {
	animation: shake-animation 4.72s ease infinite;
	transform-origin: 50% 50%;
  }

  @keyframes shake-animation {
    0% { transform:translate(0,0) }
   1.78571% { transform:translate(5px,0) }
   3.57143% { transform:translate(0,0) }
   5.35714% { transform:translate(5px,0) }
   7.14286% { transform:translate(0,0) }
   8.92857% { transform:translate(5px,0) }
   10.71429% { transform:translate(0,0) }
   100% { transform:translate(0,0) }
 }

/* Reset some default styles for better consistency */
body, h1, h2, p, iframe {
    font-family: 'Anton-Regular', Arial, sans-serif;
    color:#246499;
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the entire page */
body {
    background-color: #eceef0 !important; /* Replace with your desired background color */
    color: #333;
    font-family: 'Anton-Regular', Arial, sans-serif;
}

.container-border {
    margin: 0px 20px !important; /* Add margin to both left and right sides */
}

/* Styling for categories */
.category-card {
    border: 1px solid #ccc;
    background-color: rgb(228, 241, 255, 0.2);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Style the category heading */
.category-heading {
    color: #246499;
    font-size: 24px;
    font-weight: bold;
}

/* Style the category description */
.category-description {
    margin-top: 10px;
}

/* Example media query for screens smaller than 768px (typical smartphones) */
@media (max-width: 768px) {
    /* Adjust styles for small screens here */
    .navbar-brand {
        font-size: 20px; /* Decrease font size for small screens */
    }

    .navbar {
        height: 240px !important;
    }
    
    .col-lg-6 {
        width: 100%; /* Make columns full width on small screens */
    }

    .eng-logo {
        width: 180px !important;
        height: auto !important;
        padding: 5px !important;
    }

    #pauseVideoBtn {
        font-size: 0.7em !important;
    }
}

.video-header {
    position: relative;
    width: 100%;
    height: 60vh; /* Adjust the height to your desired size, e.g., 60vh */
    overflow: hidden;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes the video cover the entire header */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Send it to the background */
}

/* Other styles for the navbar, logo, and menu */
nav {
    /* Style your navigation bar here, e.g., background color, text color, padding, etc. */
    position: relative;
    z-index: 1; /* Ensures the navigation is displayed above the video */
}

/* Navbar Styles */
.navbar {
    background-clip: url('../assets/videos/video-bg.mp4');
    background-size: cover; /* or 'contain' or specific dimensions */
    background-position: center center; /* Center the image both horizontally and vertically */
    background-repeat: no-repeat;
    height: 300px; /* You can adjust the height to your preference */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    padding: 10px 0; /* Add padding to the Navbar */
}

.navbar-brand {
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.nav-link {
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Poppins-Regular', Helvetica, sans-serif !important;
    color: #eceef0 !important;
    transition: color 0.3s; /* Add a smooth color transition on hover */
    margin: 0 20px; /* Add margin to each link for spacing */
}

.nav-link:hover {
    text-decoration: underline !important;
}

.navbar ul {
    list-style-type: none;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: none !important;
    position: absolute !important;
    bottom: 10px;
    left: 10px !important;
    margin-right: 40px;
}

.navbar-toggler-icon {
    background-image: url('../assets/images/menu-icon.png') !important;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

/* Header Styles */
.container.text-center {
    margin-top: 20px;
}

.display-4 {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.lead {
    font-size: 1.2rem; /* Larger font size for the lead text */
    text-align: center;
    color: #000000;
    margin-bottom: 20px; /* Add some spacing below the lead text */
}

/* Add some spacing for better visual separation */
.mt-4 {
    margin-top: 40px;
}

/* Style the video container for larger screens */
.video-container {
    position: relative;
    overflow: hidden;
    margin: 15px 0;
    border-radius: 10px;
}

.video-container iframe {
    margin: 5px 0;
    border-radius: 10px;
}

/* Align the video to the left within the container */
.video-container.left-aligned {
    text-align: left;
}

/* Media query for screens smaller than 768px (typical smartphones) */
@media (max-width: 768px) {
    /* Adjust the video container size for small screens */

    .navbar {
        height: auto;
    }

    .video-container {
        max-width: 100%; /* Make it 100% width of the parent container */
    }

    /* Adjust the iframe size for small screens */
    .video-container iframe {
        width: 100%; /* Make the video 100% width */
        height: ""; /* If you use "auto" you allow the height to adjust proportionally */
    }
}

/* Style the columns for content */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.col-md-6 {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease;
}

/* Style headings and paragraph text */
h2 {
    color: #246499;
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    color: #246499;
    font-family: 'Anton-Regular', Arial, sans-serif;
    font-size: 1.4em;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 16px;
}

/* Add hover effect to columns */
.col-md-6:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Style links */
a {
    color: #246499; /* Primary blue color */ 
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3; /* Slightly darker blue on hover */
}

/* TRANSLATOR */

/* Center-align the translator container */
.translator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
}

/* Style for the input field and button */
#inputText {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 0.9rem !important;
    background: #246499;
    background: linear-gradient(0deg, #496785, #246499 100%);
    font-family: Arial, Helvetica, sans-serif !important;
    color: #eceef0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: transparent;
    border: 2px solid #246499;
    box-shadow: none;
}

button:hover:before {
   height: 100%;
 }
 button:hover:after {
   width: 100%;
 }

button:hover{
    color: #246499;
 }

/* Style for the translated text display */
#translatedText {
    display: none;
    margin-top: 20px;
    font-size: 24px; /* Increase font size for better visibility */
    font-weight: bold;
    color: #246499; /* Primary blue color */
    background-color: #f2f2f2; /* Light gray background */
    padding: 10px; /* Add some padding to create space around the text */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    text-align: center; /* Center-align the text */
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition effects */
}

#translatedText:hover {
    background-color: #0056b3; /* Darker blue background on hover */
    color: #fff; /* White text on hover */
}

/* Footer Styles */
footer {
    text-align: center;
    color: #fff; /* White text color */
    padding: 20px 0; /* Add some padding top and bottom */
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 0.8rem;
    background: #246499e0 !important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

#scrollToTopBtn:hover {
    background: #246499a4 !important;
}

.eng-logo {
    width: auto;
    height: 120px;
}

#pauseVideoBtn {
    padding: 10px 20px;
    font-size: 0.9rem !important;
    background: rgba(0, 0, 0, 0.445);
    font-family: 'Poppins-Regular', Helvetica, sans-serif !important;
    color: #eceef0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pauseVideoBtn:hover {
    background: transparent;
    border: 2px solid #eceef0;
    box-shadow: none;
}

#pauseVideoBtn:hover:before {
   height: 100%;
 }

 #pauseVideoBtn:hover:after {
   width: 100%;
 }

.eye-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-container {
    text-align: left;
}

/* Styles for the loader container */
.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 241, 255);
    z-index: 9999; /* Ensure the loader is on top of everything */
}

/* Styles for your logo */
.loader img {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    /* Add any additional styles for your logo */
}

/* Styles for the loading text */
#loader-phrase {
    margin-top: 20px;
    color: #246499;
    text-align: center;
    font-size: 18px;
    /* Add any additional styles for the loading text */
}

/* Styles for your site content */
.content {
    display: none; /* Hide the content initially */
}
