        /* Style for videos and titles */
        .video-container2 {
            display: none;
        }

        /* Style for the active video container */
        .active-video2 {
            display: block;
        }

        /* Style for buttons */
        .button3 {
            padding: 10px 20px;
            font-size: 0.9rem !important;
            background: #246499;
            background: linear-gradient(0deg, #496785, #246499 100%);
            font-family: 'Poppins-Regular', Helvetica, sans-serif !important;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 10px;
            color: #eceef0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        /* Hover effect for buttons */
        .button3:hover {
            background: transparent;
            border: 2px solid #246499;
            box-shadow: none;
        }

        .button3:hover:before {
            height: 100%;
          }
        .button3:hover:after {
            width: 100%;
          }
         
        .button3:hover{
             color: #246499;
          }