body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	text-align: center;
	background-color: #f0f0f0;
	margin: 0;
	padding: 10px;
}
#word-container {
	margin-top: 20px;
	font-size: 1.6em;
}
.word {
	display: inline-block;
	padding: 15px;
	margin: 15px;
	background-color: #3498db;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	font-size: 1.3em;
	transition: background-color 0.3s ease;
}
.word:hover {
	background-color: #2581c2;
}
.attempts {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.2em;
}

#message {
	font-size: 1.1em;
}

.button {
	background-color: #0056b3;
	color: white;
	border: none;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.3em;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	transition: background-color 0.3s ease;
}
.button:hover {
	background-color: #2581c2;
}

.goBackButton {
	background-color: #3498db;
	color: white;
	border: none;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	transition: background-color 0.3s ease;
}
.goBackButton:hover {
	background-color: #2581c2;
}


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

footer {
	text-align: center !important;
	margin: 0;
}

@media (max-width: 768px) {
	.word {
		padding: 10px;
		margin: 10px;
		font-size: 1.1em;
	}
	.attempts, .button {
		font-size: 1.2em;
	}
}