@font-face {
    font-family: 'Anton-Regular'; /* Specify the desired font family name */
    src: url('../../public/assets/fonts/Anton-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins-Regular'; /* Specify the desired font family name */
    src: url('../../public/assets/fonts/Poppins-Regular.ttf') format('truetype'),
}

body {
    font-family: "Instrument Sans", sans-serif;
    background-color: #eceef0;
    color: #333;
    margin: 0;
    padding: 0;

}

iframe {
    width: 100%; /* Make the iframe take up 100% of its container's width */
    height: 400px; /* Set a fixed height for the iframe, adjust as needed */
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 8px; /* Add rounded corners */
    margin-bottom: 20px; /* Add some space at the bottom for better separation */
}

/* Responsive styles for small screens */
@media only screen and (max-width: 600px) {
    iframe {
        height: 300px; /* Adjust the height for smaller screens */
    }
}

.button1 {
    padding: 10px 20px;
    font-size: 0.9rem !important;
    background: #246499;
    background: linear-gradient(0deg, #496785, #246499 100%);
    font-family: "Instrument Sans", sans-serif;
    color: #eceef0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button1:hover {
    background: #eceef0;
    color: #246499;
    border: 2px solid #246499;
    box-shadow: none;
}

.button2 {
    padding: 10px 20px;
    font-size: 0.9rem !important;
    background: #eceef0;
    border: 2px solid #eceef0;
    color: #246499;
    font-family: "Instrument Sans", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover {
    background: transparent;
    color: #eceef0;
    border: 2px solid #eceef0;
    box-shadow: none;
}

li {
    margin-bottom: 7px; /* Adjust the spacing between list items */
}

a {
    color: #eceef0;
    text-decoration: none;
}

a:hover {
    color: #eceef0c0;
}

header {
    background-color: #246499ce;
    color: #eceef0;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Anton-Regular', Arial, sans-serif;
    letter-spacing: 1.1px;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

section {
    background-color: #eceef0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    font-family: 'Anton-Regular', Arial, sans-serif;
    letter-spacing: 1.1px;
    font-size: 1.6em;
    color: #246499;
    padding-bottom: 10px;
}

p {
    line-height: 1.6;
}

/* Style high-frequency words */
#highFrequencyWords span {
    display: inline-block;
    align-items: center;
    margin: 0;
    background-color: #246499;
    color: #eceef0;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

#highFrequencyWords li {
    font-family: "Instrument Sans", sans-serif;
}

footer {
    margin-top: 30px;
    font-size: 1em;
    color: #000000 !important;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

footer a {
    color: #246499 !important;
}

footer a:hover {
    color: #246499ad !important;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


.flashcard-container {
    perspective: 1000px;
}

.flashcard {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 0;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 2.5em;
    color: #256cb9;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    border: 2px solid #246499;
    border-radius: 10px;
    background-color: #ffffff;
}

.card-back {
    transform: rotateY(180deg);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #246499;
    color: #eceef0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #246499a8;
}

#button-hidden {
    background-color: transparent;
    font-family: "Instrument Sans", sans-serif;
    border: 2px solid #246499;
    color: #246499;
}

#button-hidden:hover {
    background-color: rgba(243, 34, 34, 0.932);
    border: 2px solid rgba(243, 34, 34, 0.664);
    color: #eceef0;
    font-weight: bold;
}

#flash1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Responsive layout */
@media (max-width: 600px) {
    section {
        margin: 10px;
    }
}