/* Global Variables */
:root {
    --grey-color: rgb(174, 210, 255);
    --darker-grey-color: rgb(189, 189, 189);
    --text-color: rgb(60, 60, 60);
    --border-radius: 15px;
    --correct-color: #2ec748;
    --incorrect-color: #ff4242;
    --root-padding: 20px;
}

/* Fonts */
@font-face {
    font-family: 'Anton-Regular';
    src: url('../../public/assets/fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular'; /* Specify the desired font family name */
    src: url('../../public/assets/fonts/Poppins-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'ProductSans-Regular'; /* Specify the desired font family name */
    src: url('../../public/assets/fonts/ProductSans-Regular.ttf') format('truetype'),
}

/* Body Styles */
body {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'ProductSans-Regular', Helvetica, sans-serif;
    font-weight: 600;
    color: var(--text-color);
    background-color: #eceef0;
    overflow-x: hidden;
}

/* Next Button */
.next-button {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 1.2em;
    color: #eceef0;
    font-family: 'ProductSans-Regular', Helvetica, sans-serif;
    border: 1px solid #246499;
    background-color: #428fca;
    box-shadow: 0px 3px 0px 0px #246499;
    border-radius: 10px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #eceef0;
    color: #246499;
}

/* Quiz Container */
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Quiz */
.quiz {
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}

/* Paragraph Styles */
p {
    text-align: center;
    font-family: 'ProductSans-Regular', Helvetica, sans-serif;
}

/* Heading 1 Styles */
h1 {
    font-weight: 600;
    font-size: 2.3em;
    color: #246499;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Anton-Regular', Arial, sans-serif;
}

/* Heading 2 Styles */
h2 {
    font-size: 1.8em !important;
    letter-spacing: 1.1px;
    color: #246499;
    text-align: center;
    font-family: 'Anton-Regular', Arial, sans-serif;
    font-weight: 600px;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    font-family: 'ProductSans-Regular', Helvetica, sans-serif;
    font-weight: 600px;
}

/* Options Container */
.options-container {
    text-align: center;
}

/* Option Buttons */
.options-container button {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 1.2em;
    color: #eceef0;
    font-family: 'ProductSans-Regular', Helvetica, sans-serif;
    border: 1px solid #246499;
    background-color: #428fca;
    box-shadow: 0px 3px 0px 0px #246499;
    border-radius: 10px;
    cursor: pointer;
}

.options-container button:hover {
    background-color: #eceef0;
    color: #246499;
}

/* Feedback */
.feedback {
    margin-top: 20px;
    font-weight: bold;
}

/* Image Styles */
.question img {
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px #246499;
    width: auto;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}

/* Video Quiz Container */
.quiz-container-video-quiz {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Video Quiz */
.quiz-video-quiz {
    width: 100%;
    padding: 20px;
}

/* Heading 2 for Video Quiz */
h2 {
    font-size: 24px;
}

/* Video Quiz Question Video */
.question-video-quiz video {
    width: 55%;
    height: 65%;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 5px 0px 0px #246499;
}

/* Option Buttons for Video Quiz */
.options-video-quiz button {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 1.2em;
    color: #eceef0;
    font-family: 'ProductSans-Regular', Helvetica, sans-serif;
    border: 1px solid #246499;
    background-color: #428fca;
    box-shadow: 0px 3px 0px 0px #246499;
    border-radius: 10px;
    cursor: pointer;
}

.options-video-quiz button:hover {
    background-color: #eceef0;
    color: #246499;
}

/* Feedback for Video Quiz */
.feedback-video-quiz {
    margin-top: 20px;
    font-weight: bold;
}

/* Text Input */
#text-input {
    width: 60%;
    height: 20px;
    padding: 10px;
    color: #246499;
    font-size: 1.2em;
    border: 1px solid var(--grey-color);
    border-radius: var(--border-radius);
    margin-top: 10px;
}

/* Check Button */
.check-button {
    color: #246499;
    font-size: 1.2em;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    font-family: 'ProductSans-Regular', Helvetica, sans-serif;
    border: 1px solid #246499;
    background-color: #eceef0;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px #246499;
    margin-right: 10px;
    cursor: pointer;
}

.check-button:hover {
    background-color: #246499;
    box-shadow: 0px 3px 0px 0px #eceef0;
    color: #eceef0;
}

/* Header Styles */
header {
    background-color: #2464993a;
    color: #246499;
    width: 100% !important;
}

/* Video and Content Styles */
.video-and-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Responsive Video */
.video-and-content iframe {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;

}

#text-input {
    font-family: 'ProductSans-Regular', Helvetica, sans-serif;
}

/* Footer Styles */
footer {
    font-size: 0.9em !important;
    width: 100%;
    color: rgb(105, 105, 105) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--grey-color);
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Scroll To Top Button Styles */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 0.8rem;
    background: #246499e0 !important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

#scrollToTopBtn:hover {
    background: #246499a4 !important;
}

/* Go Back Styles */
#goback {
    display: block;
    margin-top: 20px;
    text-align: center;
}

#goback a {
    margin-top: 20px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 1.2em;
    color: #eceef0;
    font-family: 'ProductSans-Regular', Helvetica, sans-serif;
    border: 1px solid #246499;
    background-color: #428fca;
    box-shadow: 0px 3px 0px 0px #246499;
    border-radius: 10px;
    cursor: pointer;
}

#goback a:hover {
    background-color: #eceef0;
    color: #246499;
}

/* Loader Container Styles */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 241, 255);
    z-index: 9999;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {

    .question-video-quiz video {
        width: 100%;
        height: 100%;
    }
    
    .video-and-content {
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .quiz {
        width: 90%;
    }

    .options-container button {
        margin: 5px;
        padding: 10px;
    }

    footer {
        font-size: 0.9em;
        padding: 5px;
    }

    /* Add more adjustments as needed for smaller screens */
}

.logo-container {
    text-align: center;
}

.eng-logo {
    width: auto;
    height: 80px;
    margin: 0 auto; /* This will center the image horizontally within its container */
}
