html, body{
  margin: 10px 10px 10px 10px;
  width : 100%;
  height : 100%;
  overflow: hidden;
  background-color: #1874CD;
}

#canvasContainer{
  margin : 0px;
  padding: 10px;
  width : 100%;
  height : 100%;
}

#textInputSpan{
  position: absolute;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.textInput {
  width: 35%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.textInput:focus {
  outline: none;
  border-color: #007bff; /* Change to your preferred focus color */
  box-shadow: 0 2px 6px rgba(0, 123, 255, 0.2); /* Change to your preferred focus shadow */
}

.button {
  display: inline-block;
  width: 25%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  color: #fff !important;
  text-align: center;
  background-color: #1874CD;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Primary Button */
.button.primary {
  background-color: #007bff; /* Change to your primary color */
  color: #fff;
}

.button.primary:hover {
  background-color: #0056b3; /* Change to the hover color */
}

/* Secondary Button */
.button.secondary {
  background-color: #ccc; /* Change to your secondary color */
  color: #333;
}

.button.secondary:hover {
  background-color: #999; /* Change to the hover color */
}

p {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
