@font-face {
    font-family: 'Poppins-Regular'; /* Specify the desired font family name */
    src: url('../public/assets/fonts/Poppins-Regular.ttf') format('truetype'),
}

body {
    font-family: 'Poppins-Regular', Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #eceef0;
    color: #246499;
}

header {
    background-color: #ccd9e0e0;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 10px;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #256cb9;
}

a:hover {
    color:#527ead;
    text-decoration: underline !important;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.post-title {
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
}

.post-meta {
    color: #777;
    font-family: Helvetica, sans-serif;
    margin: 10px 0;
}

.author {
    color: #777;
    font-family: Helvetica, sans-serif;
}

.post-content {
    line-height: 1.6;
    font-family: Helvetica, sans-serif;
}

a, p {
    font-family: Helvetica, sans-serif !important;
}