/* Global Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/english-with-tv-shows.appspot.com/o/reading-section%2Fblured-bg.png?alt=media&token=0e3aa374-9f42-432d-a7b3-636e6c7a0b8e&_gl=1*1gt85gp*_ga*MTc3Mzk3ODA2Ni4xNjk0NzIzNTU1*_ga_CW55HF8NVT*MTY5ODMzMDI0OS4xMy4xLjE2OTgzMzg4MDUuMTcuMC4w');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 400;
    background-color: rgb(228, 241, 255);
    overflow-x: hidden;
    
    &.dark-mode {
        position: relative;
        color: #fff;
        
        &::after {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #120e10de;
            z-index: -1;
        }
    }
}

.container {
    margin-top: 2rem;
}

.centered-container {
    background-color: #1b2735da;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* Navbar Styles */
.navbar {
    background-color: #1b2735da;
    
    &-brand {
        font-size: 1.5rem;
        color: #fff;
    }
    
    &-link {
        color: white;
    }
    
    &-toggler-icon {
        background-color: #ffffff00;
    }
    
    &.navbar-dark .navbar-toggler-icon {
        background-color: #1b2735da;
    }
}

/* Sentence Styles */
.sentence {
    font-size: 20px;
    margin: 20px;
    display: none;
    padding: 20px;
    background-color: #1b2735da;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.button-general {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 1.2em;
    padding: 5px 15px;
    background-color: #1B2735;
    color: white;
    
    &:hover {
        background-color: #375265;
    }
}

/* Button Styles */
.btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    
    &.btn-secondary {
        background-color: #594045;
        border-color: #594045;
    }
    
    &.btn-primary {
        background-color: #375265;
        border-color: #375265;
        
        &:hover {
            background-color: #1B2735;
            border-color: #1B2735;
        }
        
        &.disabled, &:disabled {
            color: #fff;
            background-color: #375265;
            border-color: #375265;
        }
    }
    
    &.disabled, &:disabled {
        opacity: .65;
    }
}

/* Word Tooltip Styles */
.word {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: #ffffff;
    
    &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 2px;
        background: repeating-linear-gradient(90deg, #ccc, #ccc 3px, transparent 3px, transparent 6px);
    }
    
    &[data-tippy-root] {
        text-decoration: none;
        
        &::before {
            content: attr(data-translation);
            background-color: #f0f0f0;
            color: #3333333a;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 4px 8px;
            position: absolute;
            bottom: 110%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
        
        &:hover::before {
            opacity: 1;
        }
    }
}

/* Dark Mode Toggle Button Styles */
#darkModeToggle {
    margin-top: 2rem;
}

.book-cover {
    width: 100px;
    height: 150px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

p {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

/* Vintage Typography Styles */
h1 {
    font-family: 'Baskerville', serif;
    font-weight: bold;
    color: white;
}

/* Page Turn Animation Styles */
.sentence-enter-active, .sentence-leave-active {
    transition: transform 0.5s;
}

.sentence-enter, .sentence-leave-to {
    transform: scaleX(0);
    transform-origin: right;
}

audio {
    height: 40px;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
    body {
        background-image: url('https://drive.google.com/uc?id=1ze8ECS0yol9EXblRcmPqDBSkzzULNqIY');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .navbar {
        background-color: #1b2735da;
        
        &-brand {
            font-size: 1.2rem;
        }
        
        &-toggler-icon {
            color: rgb(255, 255, 255);
            font-size: 1.4em;
        }
    }
    
    .sentence {
        font-size: 1.2em;
        margin: 10px;
        padding: 10px;
    }
    
    .btn {
        font-size: 0.9rem;
    }
    
    .word::before {
        bottom: -1px;
    }
    
    .book-cover {
        width: 80px;
        height: 120px;
        margin: 5px;
    }
    
    h1 {
        font-size: 1.6em;
    }
    
    #darkModeToggle {
        margin-top: 1rem;
        font-size: 0.9rem;
    }
    
    audio {
        width: 80%;
        height: 40px;
    }
}